{% extends "base.html" %}

{% block title %}Listado de usuarios{% endblock %}
{% block header %}Listado de usuarios{% endblock %}

{% block content %}
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ url_for( 'showUser', user_id = user.id ) }}">Show</a> | 
                    <a href="{{ url_for( 'editUser', user_id = user.id ) }}">Edit</a> | 
                    <a href="{{ url_for( 'deleteUser', user_id = user.id ) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
        
<div class="mt-5 p-0">
    <a href="{{ url_for( 'createUser' ) }}">Crea un nuevo usuario</a>
</div>
{% endblock %}